*,
*:before,
*:after {
	margin: 0;
	box-sizing: border-box;
}

.sticky {
	position: sticky;
	top: 0;
	left: 0;
	background: black;
	color: white;
}

.capitalize {
	text-transform: capitalize;
}

table,
th,
td {
	border: 1px solid;
}

table {
	border-collapse: collapse;
	width: 100%;
}
